In [1]:
data=['FAtima','AlI','umar']
cleaned_data=[]
for f in data:
    data=f.strip().capitalize()
    cleaned_data.append(data)
print("Cleaned Data :",cleaned_data)

Cleaned Data : ['Fatima', 'Ali', 'Umar']

In [93]:
#Reading CSV File
import csv
cleanedcsv=[]
with open('Dataset.csv',"r") as f:
    reader=csv.reader(f)
    next(reader)  # Skip header row if present
    for f in reader:
        print(f)

['ALi', '19', 'LaHore']
['USmAn', '20', 'IslamAbad ']
['RafEEq', '18', 'LahorE']

In [79]:
#Reading Text File
f=open('Dataset.txt',"r")
for i in f:
    print(i)
f=open('Dataset.txt',"a")
f.write("This is a new line added to the text file.\n")
f.close()

My name is Muhammad Sheheryar.This is a new line added to the text file.

This is a new line added to the text file.

In [90]:
import json
f=open('Dataset.json',"r")
data=json.load(f)
print(data)
for i in data["skills"]:
    print(i)

{'name': 'Ali', 'age': 22, 'skills': ['python', 'sql', 'data']}
python
sql
data

In [111]:
cleaned=[]
with open('Dataset.csv',"r")as f :
    reader=csv.reader(f)
    next(reader)  # Skip header row if present
    for row in reader:
        name=row[0].strip().capitalize()
        age=row[1]
        city=row[2].strip().capitalize()
        cleaned.append([name,age,city])

print(cleaned)

with open('Cleaned_Dataset.csv',"w",newline="") as f:
    writer=csv.writer(f)
    writer.writerow(['Name','Age','City'])
    writer.writerows(cleaned)
print("Cleaned data written to Cleaned_Dataset.csv")

[['Ali', '19', 'Lahore'], ['Usman', '20', 'Islamabad'], ['Rafeeq', '18', 'Lahore']]
Cleaned data written to Cleaned_Dataset.csv

In [116]:
#Dictionaries
person = {
    "name": "Ali",
    "age": 22,
    "city": "Lahore"
}

print(person["name"])
#updatation in Dictionary
person["age"] = 23
person["profession"] = "Engineer"
person["skills"] = ["Python", "SQL"]
print(person)
for i in person["skills"]:
    print(i)
    
for key, value in person.items():
    print(key, ":", value)

Ali
{'name': 'Ali', 'age': 23, 'city': 'Lahore', 'profession': 'Engineer', 'skills': ['Python', 'SQL']}
Python
SQL
name : Ali
age : 23
city : Lahore
profession : Engineer
skills : ['Python', 'SQL']

In [117]:
#Error Handling
try:
    num = int(input("Enter a number: "))
    print(10 / num)
except ZeroDivisionError:
    print("Cannot divide by zero.")
except ValueError:
    print("Invalid number.")
finally:
    print("Execution completed.")

Cannot divide by zero.
Execution completed.

In [120]:
#mini concept data transformation
raw_age = " 22 "
clean_age = int(raw_age.strip())
print(clean_age)

22

In [136]:
#Mini ETL Pipeline Simulation

data = [
    {"name": " ali ", "age": "22", "city": " lahore "},
    {"name": " SARA", "age": "21", "city": " KARACHI "},
    {"name": "hamza ", "age": "23", "city": " Islamabad"}
]
cleaned=[]
for row in data:
 try:
    name=row["name"].strip().capitalize()
    age=int(row["age"].strip())
    city=row["city"].strip().capitalize()
    cleaned.append([name, age, city])
 except Exception as e:
     print("Error cleaning row:", row, "| Error:", e)
#we use error handling to avoid breaking the entire process due to one bad record like missing age value or something like that



print(cleaned)

with open('Cleaned_Data.csv',"w",newline="") as f:
    writer=csv.writer(f)
    writer.writerow(['Name','Age','City'])
    writer.writerows(cleaned)
print("Cleaned data written to Cleaned_Data.csv")

[['Ali', 22, 'Lahore'], ['Sara', 21, 'Karachi'], ['Hamza', 23, 'Islamabad']]
Cleaned data written to Cleaned_Data.csv

In [151]:
import pandas as pd
df=pd.read_csv('Dataset.csv')
print(df[df["Age"]>19])

#cleaning is easy with pandas

df["Name"]=df["Name"].str.strip().str.capitalize()
df["City"]=df["City"].str.strip().str.capitalize()
print(df)
df.to_csv('Cleaned_with_pandas.csv',index=False)

    Name  Age        City
1  USmAn   20  IslamAbad
     Name  Age       City
0     Ali   19     Lahore
1   Usman   20  Islamabad
2  Rafeeq   18     Lahore

In [ ]:
#concatination two csv's
import pandas as pd

df1 = pd.read_csv("Cleaned_with_pandas.csv")
df2 = pd.read_csv("Cleaned_with_pandas 2.csv")

combined = pd.concat([df1, df2], ignore_index=True)
print(combined)

In [ ]:
#SQL like Things
#Merging
df3=pd.read_csv("skills.csv")
merging=pd.merge(combined,df3,on="Name",how="left")
print(merging)
merging.to_csv("Final_Output.csv",index=False)

#GroupBY

grouped=merging.groupby("City")["Age"].mean()
print(grouped)

#Sorting 

df_sorted = merging.sort_values(by="Name")
print(df_sorted)

In [ ]:
df = pd.read_csv("city_data.csv")

# Clean
df["name"] = df["name"].str.strip().str.capitalize()
df["city"] = df["city"].str.strip().str.capitalize()

# Group by city
sales_by_city = df.groupby("city")["sales"].sum()

print("Sales by city:")
print(sales_by_city)

# Sort by highest sales
sorted_sales = sales_by_city.sort_values(ascending=False)
print("\nCities ranked by sales:")
print(sorted_sales)

# Export result
sorted_sales.to_csv("city_sales_report.csv", header=True)

print("\nReport generated: city_sales_report.csv")

In [ ]:
df=pd.read_csv("missing.csv")
print(df)
print(df.isna().sum())
#dropping Missing Row
df_drop = df.dropna()
#replace missing rows with a specific word
df["city"] = df["city"].fillna("Islamabad")
df["age"] = df["age"].fillna('25')


print(df)
df.to_csv("missing.csv",index=False)
print("Missing values filled and saved to missing_filled.csv")

In [237]:
import pandas as pd

df = pd.read_csv("salees.csv")

# Clean name & city
df["name"] = df["name"].apply(lambda x: x.strip().capitalize())
df["city"] = df["city"].apply(lambda x: x.strip().capitalize())

# Convert sales to int
df["sales"] = df["sales"].astype(int)

# Bonus: 10%
df["bonus"] = df["sales"] * 0.10

# Category based on sales
df["category"] = df["sales"].apply(lambda x: "High" if x > 200 else "Low")

# Map city codes
df["city_code"] = df["city"].map({
    "Lahore": "LHR",
    "Karachi": "KHI",
    "Multan": "MLT"
})

df.to_csv("customers_transformed.csv", index=False)

print("Customer data transformed successfully!")
print(df)

Customer data transformed successfully!
     name     city  sales  bonus category city_code
0     Ali   Lahore    200   20.0      Low       LHR
1    Sara  Karachi    150   15.0      Low       KHI
2   Hamza   Lahore    300   30.0     High       LHR
3  Ayesha   Multan    100   10.0      Low       MLT